#
#Mon Feb 29 22:48:34 KST 2016
Ab=1000
METER_INTERVAL=30
Kd=32.000000
Kc=40.000000
Kb=30.000000
CASE_FILE=
Kjam=180.000000
UseCoordination=false
Kd_Rate=0.800000
MAX_RAMP_DENSITY=140
MAX_WAIT_TIME_INDEX_F2F=3
MAX_WAIT_TIME_INDEX=7
StopBSTrend=3
MAX_RED_TIME=13
StopUpstreamCount=3
StopDuration=10
RANDOM_SEED=10
Kstop=20.000000
